@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3';
}
body{   
    font-family: 'Source Sans 3';
    background-color: rgb(220, 220, 220);
}
header{
    background-color: yellowgreen;
    padding: 40px 0;
}

.Registro{
    width: 400px;
    background: #24303c;
    padding: 150px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Source Sans 3';

}